# Java
target/
*.class

# Maven
target/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# React
node_modules/

# Logs
*.log

# Environment
.env

# Windows
Thumbs.db
Desktop.ini
